@import '../../Assets/vars.css';

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
}

.gojoButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6d4aa0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gojoButton:hover {
  background-color: #8e5dbf;
}

.resetButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
    transition: 0.2s;
}

.menuItems a:hover,
.menuItems a:active {
    color: rgba(109, 74, 160, 0.7); /* Hover/Active com tom arroxeado translúcido */
}

.menuBtn {
    display: none;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        height: 50px;
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: var(--color-secundary); /* Fundo arroxeado escuro */
        background: linear-gradient(
            0deg,
            rgba(78, 51, 112, 0.2) 0%, /* Gradiente translúcido */
            rgba(78, 51, 112, 1) 100%  /* Tom roxo intenso */
        );
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }
}
